[core]
  bare = false
  editor = emacs -q -l ~/git-init-file.el
  filemode = true
  ignorecase = false
  logallrefupdates = true
  pager = cat
  repositoryformatversion = 0
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  frag = magenta bold
  meta = yellow bold
  new = green bold
  old = red bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
  ci = commit
  commend = commit --amend --no-edit
  co = checkout
  di = diff
  difflog = log -p
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  praise = blame
  st = status
  login = !sh /Users/joegrossberg/workspace/atas/login.sh
[apply]
  whitespace = nowarn
[push]
  default = current
[pull]
  rebase = true
[github]
	site = https://github.com
	endpoint = https://api.github.com
  oauth-token = SECRET
	username = josephgrossberg
[reflow]
	git-server = GitHub
[gitflow "branch"]
	validation = validation
	develop = master
	master = master
[gitflow "prefix"]
	feature = feature
	hotfix = hotfix
	release = release
[pivotal]
	project-id = 1935477
[user]
	name = Joe Grossberg
	email = josephgrossberg+github@gmail.com
	initials = JG
